*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    background-image: url(../images/gettyimages-1156728957-612x612.jpg);
    width: 100%;
    min-height: 100vh;    
    background-color: #e9ecef;    
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
    /*text-align:center;*/ 
    color: #fff;    
   
}

nav
{
    float: right;
    cursor: pointer;
    margin: 2vh 4vw;
    font-size: 30px;
    color: #000;   
    
}

nav ul
{
    list-style: none;

}

.heading
{
    text-align: center;
    padding-top: 5vh;
    color: #000;
    font-size: 70px;
    font-family: 'Hurricane', cursive;    
   
}

.heading2
{
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: bold;   
}

img
{
    clip-path: circle();
    height: 200px;
    width:200px; 
}

.wrapper
{ 
    color: #000;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;

}

select 
{
    width: 150px;
    margin: 10px;
    height: 30px;
    
}

.form
{
    width:60%;
    align-items: center;
    text-align: center;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    overflow: hidden;
}

.input
{
    width: 40%;
    height: 30%;
    
}

.label
{
    color: #000;
    
}

.btn
{
   
}














